@{
    ViewData["Title"] = "Giới Thiệu";
}

<section class="py-5">
    <h2 class="text-center logo-font mb-4">Giới Thiệu Về Chúng Tôi</h2>
    <p class="text-center mb-5">
        Chào mừng bạn đến với Trang Web Bán Thú Cưng – nơi mang đến những người bạn bốn chân đáng yêu!
    </p>
    <div class="row">
        <div class="col-md-6">
            <img src="https://tse1.mm.bing.net/th?id=OIP.BAWVv0nsOpEPnMLAUIhN-AHaEK&pid=Api&P=0&h=220" class="img-fluid rounded" alt="Hình ảnh về chúng tôi" />
        </div>
        <div class="col-md-6">
            <h3>Câu Chuyện Của Chúng Tôi</h3>
            <p>
                Chúng tôi là cửa hàng chuyên cung cấp các giống thú cưng thuần chủng với nguồn gốc rõ ràng. Thành lập từ niềm đam mê với những chú chó đáng yêu, chúng tôi cam kết mang đến cho bạn những người bạn trung thành, khỏe mạnh và được chăm sóc tốt nhất.
            </p>
            <h3>Tại Sao Chọn Chúng Tôi?</h3>
            <ul>
                <li>Chó cảnh chất lượng, nguồn gốc rõ ràng.</li>
                <li>Dịch vụ tư vấn và hỗ trợ tận tâm.</li>
                <li>Cam kết sức khỏe và hạnh phúc cho thú cưng.</li>
            </ul>
            <a asp-controller="Pet" asp-action="Index" class="btn btn-success">Khám Phá Sản Phẩm</a>
        </div>
    </div>
</section>