/* style.css */

body {
  font-family: Arial, sans-serif;
}

.navbar-brand img {
  height: 40px;
}

.hero-banner h1 {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #007bff;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.sidebar h5 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  /* margin-top: 20px; */
  color: #007bff;
  font-weight: bold;
  font-size: 20px;
}

.sidebar ul li {
  padding: 10px 0;
  color: #555;
  cursor: pointer;
}

.product-card {
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.02);
}

.btn-custom {
  background-color: #d00;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.9rem;
}

.btn-custom:hover {
  background-color: blue;
  color: white;
}

.custom-footer {
  background-color: #333;
  color: #fff;
  font-size: 0.9rem;
}

.custom-footer a {
  color: #fff;
  text-decoration: none;
}

.custom-footer a:hover {
  color: #ffcc00;
  transition: color 0.3s ease;
}

.footer-info {
  max-width: 300px;
  line-height: 1.6;
}

.footer-social i {
  transition: transform 0.2s ease;
}

.footer-social i:hover {
  transform: scale(1.2);
}
